/* @import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800"); */
@import url('https://fonts.googleapis.com/css?family=Khmer&display=swap&subset=khmer');
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/magnific-popup.css);
@import url(css/font-awesome.min.css);
@import url(css/classy-nav.min.css);
@import url(css/nice-select.min.css);
@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);
@import url(../slick/slick-theme.css);
@import url(../slick/slick.css);
@import url(../slick/imagehover.min.css);
/* :: 3.0 Base CSS */
* {
    margin: 0;
    padding: 0;
}

.slider div img {
    height: 173px;
    object-fit: cover;
}

.slider div:hover .slick-slide div div img {

}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    /*margin: 0 auto 100px;*/
    padding: 45px;
    text-align: center;
}

.form button {
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #16a085;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #16a095;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

img {

    width: 100%;

}

/* removing blue outline from buttons */
button:focus, button:active {
    outline: none;
}

body {
    font-family: 'Khmer', sans-serif !important;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Khmer', sans-serif !important;
    color: #152535;
    line-height: 1.3;
    font-weight: 700;
}

p ,
span {
    font-family: 'Khmer', sans-serif !important;
    color: #656565;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid transparent;
    color: #231f1f;
    font-weight: 500;
    font-size: 14px;
    color: #656565;
}

.post-author a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

ul,
ol {
    margin: 0;
}

ul li,
ol li {
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}

/* Spacing */
.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

/* Height */
.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

/* Section Padding */
.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-padding-50-0 {
    padding-top: 50px;
    padding-bottom: 0;
}

.section-padding-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Miscellaneous */
.bg-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-dark {
    background-color: #000000 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.font-bold {
    font-weight: 700;
}

.font-light {
    font-weight: 300;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.bg-overlay::after {
    background-color: rgba(2, 3, 28, 0.9);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

/* ScrollUp */
#scrollUp {
    background-color: #ff6346;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    right: 60px;
    text-align: center;
    width: 40px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.section-padding-100 {
    padding-top: 55px;
}

.video-playlist-wrap {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
}

.video-playlist-wrap .player-wrap .fluid-ratio-wrap .fluid-ratio-inner iframe {
    width: 100% !important;
    height: 100% !important;
}

.title {
    padding-left: 0 !important;
}

.post-sidebar-area {
    border: none;
}

.sidebar-widget-area .widget-content {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-side-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.clip>section {
    background: #fff;
    height: auto;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
    border: 1px solid #e7e7e7;
}

section .top img{
    margin: 0 auto;
}
section .bottom {
    font-size: 70%;
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.3);
}

.clip {
    overflow: hidden;
    bottom: 0;
}

.center .slick-slide {
    height: auto;
}

.center .slick-center section {
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
}

.center section {
    /*opacity: 0.25;*/
    bottom: 0;
    background: #a74646;
}
.new-arrivals .heading {
    text-align: center;
    font-family: 'Bungee', cursive;
    color: #eaeaea;
    font-size: 22px;
    text-shadow: 3px 3px 3px #222;
    margin: 0;
}

.new-arrivals .name {
    color: #333;
    font-size: 16px;
    font-family: cursive;
    margin: 0;
    font-weight: bold;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}
.social-share-btns-container {
    overflow: hidden;
    left: 0;
    font-size: 0;
    width: 100%;
}

.social-share-btns {
    display: inline-block;
    overflow: hidden;
}
.social-share-btns .share-btn {
    float: left;
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    vertical-align: middle;
    transition(background 0.2s ease-in-out);
}
.social-share-btns .share-btn  i {
    margin-right: 5px;
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    }
/* social Colors */
.share-btn {
    background-color: #95a5a6;
}
.share-btn-twitter {
    background-color: #00aced;
}
.share-btn-facebook {
background-color: #3b5998;
}
.share-btn-linkedin {
background-color: #007bb6;
}
.share-btn-reddit {
background-color: #ED001C;
}
.share-btn-mail{
    background-color: #f1c40f;
}
#scrollUp:hover {
    background-color: #000000;
}

@media only screen and (max-width: 767px) {
    #scrollUp {
        bottom: 30px;
        right: 30px;
    }
}

/* Button */
.viral-btn {
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    font-weight: 700;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: uppercase;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
}

.viral-btn.active, .viral-btn:hover, .viral-btn:focus {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
}

.add-post-btn {
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px !important;
    line-height: 52px;
    font-weight: 700 !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: uppercase;
    background: #ff6346 !important;
}

.add-post-btn.active, .add-post-btn:hover, .add-post-btn:focus {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    background: #e30a73;
}
/* .btn-logout{
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px !important;
    line-height: 52px;
    font-weight: 700 !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: uppercase;
} */
.btn-logout a{
    display: inline-block;
    min-width: 150px;
    height: 52px;
    color: #000000 !important;
    border: none;
    border-radius: 5px;
    padding: 0 30px;
    font-size: 14px !important;
    line-height: 52px;
    font-weight: 700 !important;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: uppercase;
}
/* :: 4.0 Header Area */
.header-area {
    position: relative;
    z-index: 100;
    width: 100%;
    /* Search Form Area */
}

.header-area .top-header-area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #dedede;
}

.header-area .top-header-area .top-header-content {
    position: relative;
    z-index: 1;
    height: 48px;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    min-width: 70%;
    width: 70%;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area .ticker {
    width: 100%;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul {
    width: 100%;
    position: relative;
    z-index: 1;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li {
    display: none;
    width: 100%;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a {
    display: block;
    font-size: 12px;
    color: #656565;
    height: 38px;
    line-height: 38px;
}

.header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:hover, .header-area .top-header-area .top-header-content .top-breaking-news-area .ticker ul li a:focus {
    color: #e20378;
}

.header-area .top-header-area .top-header-content .top-social-info-area {
    position: relative;
    z-index: 1;
}

.header-area .top-header-area .top-header-content .top-social-info-area a {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .header-area .top-header-area .top-header-content .top-social-info-area a,.header-area {
        padding: 0 1px;
        margin-bottom: 0px !important;
        background: none !important;
        border-bottom: 1px solid rgba(0,0,0,.0975);
    }
}

@media (min-width: 768px) {
    .header-area .top-header-area .top-header-content .top-social-info-area a,.header-area {
        padding: 0 1px;
        margin-bottom: 20px !important;
        background: none !important;
        border-bottom: 1px solid rgba(0,0,0,.0975);
    }
}


.header-area .top-header-area .top-header-content .top-social-info-area a:hover, .header-area .top-header-area .top-header-content .top-social-info-area a:focus {
    color: #FFD400;
}

.header-area .viral-news-main-menu {
    position: relative;
    width: 100%;
    z-index: 100;
    height: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .viral-news-main-menu {
        height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .viral-news-main-menu {
        height: 70px;
    }
}

.header-area .viral-news-main-menu .classy-nav-container {
    background-color: transparent;
}

.header-area .viral-news-main-menu .classy-navbar {
    height: 100px;
    padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .viral-news-main-menu .classy-navbar {
        height: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .viral-news-main-menu .classy-navbar {
        height: 70px;
    }
}

.header-area .viral-news-main-menu .classy-navbar .classynav ul li a {
    font-weight: 700;
}

.header-area .viral-news-main-menu .classy-navbar .classynav ul li a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav ul li a:focus {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    font-weight: 700;
}

.header-area .viral-news-main-menu .classy-navbar .classynav ul li.active a {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a {
    text-transform: uppercase;
    padding: 12px 12px 11px;
    background-color: transparent;
    line-height: 1;
    color: #231f1f;
    font-weight: 700;
}

.header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a:hover, .header-area .viral-news-main-menu .classy-navbar .classynav > ul > li > a:focus {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.video-section a h4 {
    border-bottom: green solid 1px;
    padding: 0 10px;
    /*background: linear-gradient(141deg, #9fb8ad 5%, #1fc8db 51%, #2cb5e8 50%);*/
    background: -webkit-gradient(linear, left top, right top, from(#9fb8ad), to(#2cb5e8));
    background: linear-gradient(to right, #9fb8ad, #2cb5e8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-section a h4:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.header-area .viral-news-main-menu .search-btn {
    padding: 15px 40px;
    display: block;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.header-area .viral-news-main-menu .search-btn:hover, .header-area .viral-news-main-menu .search-btn:focus {
    color: #e20378;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .viral-news-main-menu .search-btn {
        padding: 15px 20px;
    }
}

.header-area .viral-search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    z-index: 30000;
    top: 150px;
    left: 0;
    -webkit-transition-duration: 800ms;
    transition-duration: 800ms;
    -webkit-transform: scale(0.9) translate3d(0, 0, 0);
    transform: scale(0.9) translate3d(0, 0, 0);
    opacity: 0;
    visibility: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .viral-search-form {
        top: 130px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .viral-search-form {
        top: 120px;
    }
}

.header-area .viral-search-form form {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 200px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transition-duration: 700ms;
    transition-duration: 700ms;
}

.header-area .viral-search-form form input {
    width: 90%;
    height: 60px;
    position: absolute;
    left: 5%;
    font-size: 14px;
    color: #231f1f;
    font-weight: 600;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
}

.header-area .viral-search-form form button {
    position: absolute;
    width: 60px;
    height: 60px;
    right: 5%;
    top: 0;
    border: none;
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 5px 5px 0;
}

.header-area .viral-search-form form button:hover {
    background-color: #e20378;
    color: #fff;
}

.header-area .viral-search-form.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
}

.header-area .viral-search-form.active form {
    opacity: 1;
    visibility: visible;
    top: 50px;
}

.header-area .is-sticky #stickyMenu {
    background-color: #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.header-area .is-sticky #stickyMenu .viral-search-form {
    top: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .is-sticky #stickyMenu .viral-search-form {
        top: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .header-area .is-sticky #stickyMenu .viral-search-form {
        top: 70px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .add-post-button {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .add-post-button {
        margin-left: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .classy-navbar .nav-brand {
        max-width: 80px;
    }
}

/* :: 5.0 Hero Area */
.hero-area {
    position: relative;
    z-index: 1;
    background-color: #f3f5f8;
    padding-top: 50px;
    border-bottom: 3px solid #e20378;
}

/* slide show */
.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 15px;
    outline: 0
}

.MultiCarousel .rightLst {
    right: 15px;
    outline: 0
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}

.slide_home {
    margin-top: 0px;
    border-top: #02aeee 5px solid;
    overflow: hidden;
}

.item :hover {
    transition-duration: 600ms;
    transform: scale(1.03);
}

/* :: 6.0 Welcome Slides Area */
.welcome-slide-area {
    padding: 60px 0 90px;
    position: relative;
    z-index: 1;
}

.single-welcome-slide {
    position: relative;
    z-index: 1;
}

.single-welcome-slide .welcome-post {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.single-welcome-slide .welcome-post img {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

.single-welcome-slide .welcome-post:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.single-welcome-slide .welcome-post .post-content {
    position: absolute;
    width: 80%;
    bottom: 10%;
    left: 10%;
    z-index: 5;
}

.single-welcome-slide .welcome-post .post-content .tag {
    background-color: #e20378;
    width: 88px;
    height: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.single-welcome-slide .welcome-post .post-content .tag.tag-2 {
    background-color: #6bc045;
}

.single-welcome-slide .welcome-post .post-content .tag.tag-3 {
    background-color: #ee9202;
}

.single-welcome-slide .welcome-post .post-content .tag:hover {
    background-color: #231f1f;
}

.single-welcome-slide .welcome-post .post-content .post-title {
    background-color: #231f1f;
    padding: 0 15px 5px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .single-welcome-slide .welcome-post .post-content .post-title {
        font-size: 18px;
    }
}

.single-welcome-slide .welcome-post .post-content .post-title:hover {
    color: #e20378;
}

.single-welcome-slide .welcome-post .post-content p {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
}

.single-welcome-slide .welcome-post.style-2 .post-title {
    padding: 0 10px;
    font-size: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .welcome-posts-- {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

/* :: 8.0 Blog Post Area */
.single-blog-post {
    position: relative;
    z-index: 1;
}

.single-blog-post .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    min-width: 130px;
    width: 130px;
    object-fit: cover;
}
.single-blog-post .post-thumb img {
    height: 200px;
    object-fit: cover;
}
.single-blog-post .post-thumb a {
    display: block;
}

.single-blog-post .post-data {
    margin-left: 10px;
}

.single-blog-post .post-data .post-catagory {
    font-size: 14px;
    color: #e20378;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.single-blog-post .post-data .post-title {
    display: block;
}

.single-blog-post .post-data .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.8;
    font-size: 14px;
    color: #231f1f;
}

.single-blog-post .post-data .post-title h6:hover, .single-blog-post .post-data .post-title h6:focus {
    color: #e20378;
}

.single-blog-post .post-data .post-meta .post-date {
    margin-bottom: 0;
}

.single-blog-post .post-data .post-meta .post-date a {
    display: block;
}

.single-blog-post .post-data .post-meta .post-date a:hover, .single-blog-post .post-data .post-meta .post-date a:focus {
    color: #e20378;
}

.single-blog-post .post-data .post-meta .post-like {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

.single-blog-post .post-data .post-meta .post-like span {
    line-height: 1;
    margin-left: 15px;
}

.single-blog-post .post-data .post-meta .post-like span:hover, .single-blog-post .post-data .post-meta .post-like span:focus {
    color: #e20378;
}

.single-blog-post .post-data .post-meta .post-comment {
    margin-left: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

.single-blog-post .post-data .post-meta .post-comment span {
    line-height: 1;
    margin-left: 15px;
}

.single-blog-post .post-data .post-meta .post-comment span:hover, .single-blog-post .post-data .post-meta .post-comment span:focus {
    color: #e20378;
}

.single-blog-post.style-2 {
    margin-bottom: 25px;
}

.single-blog-post.style-2:last-of-type {
    margin-bottom: 0;
}


.single-blog-post.style-2 .post-date a {
    font-size: 6px;
}

.single-blog-post.style-3 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.single-blog-post.style-3 .post-data {
    margin-left: 0;
    margin-bottom: 20px;
}

.single-blog-post.style-3 .post-data .post-catagory {
    background-color: #ff6346;
    width: 128px;
    height: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    font-weight: 600;
}

.single-blog-post.style-3 .post-data .post-catagory.cat-2 {
    background-color: #6bc045;
}

.single-blog-post.style-3 .post-data .post-catagory.cat-3 {
    background-color: #ee9202;
}


.single-blog-post.style-3 .post-data .post-catagory:hover {
    background-color: #231f1f;
}

.single-blog-post.style-3 .post-data .post-title {
    display: block;
}

.single-blog-post.style-3 .post-data .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-size: 1rem !important;
    line-height: 1.2 !important;
    color: #231f1f;
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style-3 .post-data .post-title h6 {
        font-size: 20px;
    }
}

.single-blog-post.style-3 .post-data .post-title h6:hover, .single-blog-post.style-3 .post-data .post-title h6:focus {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.single-blog-post.style-3 .post-data .post-meta .post-author {
    font-size: 14px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0;
}

.single-blog-post.style-3 .post-data .post-meta .post-author a:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.single-blog-post.style-3 .post-data .post-meta .post-author a {
    color: #231f1f;
    font-weight: 700;
    font-size: 14px;
}

.single-blog-post.style-3 .post-data .post-meta .post-date {
    color: #656565;
    font-size: 12px;
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style-3.style-5 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.single-blog-post.style-3.style-5 .post-data {
    margin-bottom: 0;
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style-3.style-5 .post-data {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
    }
}

.single-blog-post.style-3.style-5 .post-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
    width: 50%;
    margin-bottom: 0;
    margin-right: 15px;
}

@media only screen and (max-width: 767px) {
    .single-blog-post.style-3.style-5 .post-thumb {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        min-width: 100%;
        width: 100%;
        margin-bottom: 50px;
        margin-right: 0;
    }
}

.single-blog-post.style-4 {
    margin-bottom: 40px;
}

.single-blog-post.style-4:last-child {
    margin-bottom: 0;
}

.single-blog-post.style-4 .post-thumb {
    position: relative;
    z-index: 10;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    min-width: 100%;
    width: 100%;
    margin-bottom: 15px;
}

.single-blog-post.style-4 .post-thumb .serial-number {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #e20378;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 42px;
    position: absolute;
    left: 15px;
    top: -21px;
    z-index: 10;
}

.single-blog-post.style-4 .post-data {
    margin-left: 0;
    margin-bottom: 0;
}

.single-blog-post.style-4 .post-data .post-title {
    display: block;
}

.single-blog-post.style-4 .post-data .post-title h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.5;
    font-size: 18px;
    color: #231f1f;
    font-weight: 600;
}

.single-blog-post.style-4 .post-data .post-title h6:hover, .single-blog-post.style-4 .post-data .post-title h6:focus {
    color: #e20378;
}

.single-blog-post.style-4 .post-data .post-meta .post-author {
    font-size: 12px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0;
}

.single-blog-post.style-4 .post-data .post-meta .post-author a {
    color: #231f1f;
    font-weight: 700;
    font-size: 12px;
}

.popular-news-widget {
    position: relative;
    z-index: 1;
    background-color: #eff4f9;
    padding: 60px 25px;
}

.popular-news-widget h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #e20378;
}

@media only screen and (max-width: 767px) {
    .popular-news-widget h3 {
        font-size: 24px;
    }
}

.popular-news-widget .single-popular-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.popular-news-widget .single-popular-post h6 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.7;
    font-weight: 500;
}

.popular-news-widget .single-popular-post h6 span {
    margin-right: 15px;
    color: #e20378;
}

.popular-news-widget .single-popular-post h6:hover, .popular-news-widget .single-popular-post h6:focus {
    color: #e20378;
}

.popular-news-widget .single-popular-post p {
    margin-bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    color: #828282;
    margin-left: 30px;
    line-height: 1;
}

.popular-news-widget .single-popular-post:last-child {
    margin-bottom: 0;
}

.latest-comments-widget {
    position: relative;
    z-index: 1;
}

.latest-comments-widget h4 {
    margin-bottom: 50px;
    font-weight: 600;
}

.latest-comments-widget .single-comments {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
}

.latest-comments-widget .single-comments .comments-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 42px;
    flex: 0 0 42px;
    max-width: 42px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: 6px;
}

.latest-comments-widget .single-comments .comments-thumbnail img {
    border-radius: 50%;
    display: block;
}

.latest-comments-widget .single-comments .comments-text {
    margin-left: 15px;
}

.latest-comments-widget .single-comments .comments-text a {
    display: block;
    font-size: 16px;
    color: #231f1f;
    margin-bottom: 10px;
    line-height: 1.9;
    font-weight: 600;
}

.latest-comments-widget .single-comments .comments-text a span {
    color: #e20378;
}

.latest-comments-widget .single-comments .comments-text a:hover, .latest-comments-widget .single-comments .comments-text a:focus {
    color: #e20378;
}

.latest-comments-widget .single-comments .comments-text p {
    margin-bottom: 0;
    font-size: 11px;
    text-transform: uppercase;
    color: #828282;
    line-height: 1;
}

.latest-comments-widget .single-comments:last-child {
    margin-bottom: 0;
}

.newsletter-widget {
    position: relative;
    z-index: 1;
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    padding: 0 25px 35px;
}

.newsletter-widget h4 {
    text-align: center;
    color: #fff;
    font-weight: 600;
    padding: 70px 0;
    margin-bottom: 0;
}

.newsletter-widget form input {
    width: 100%;
    height: 52px;
    background-color: #fff;
    font-size: 11px;
    font-style: italic;
    color: #656565;
    margin-bottom: 20px;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
    font-weight: 600;
}

.newsletter-widget form button {
    width: 100%;
    height: 52px;
    background-color: #6bc045;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 0 25px;
    border-radius: 5px;
}

.newsletter-widget form button:hover, .newsletter-widget form button:focus {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #fff;
    color: #e20378;
}

.viral-news-pagination {
    position: relative;
    z-index: 1;
    margin: 50px 0 40px;
}

.viral-news-pagination .page-link {
    padding: 0 5px;
    font-size: 14px;
    border: none;
    color: #656565;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .viral-news-pagination .page-link {
        font-size: 12px;
    }
}

.viral-news-pagination .page-link:hover, .viral-news-pagination .page-link:focus {
    color: #ee9202;
}
.page-item.active .page-link {
    color: #FF6346 !important;
    background-color:transparent !important;
    border-color: transparent !important;

}

.viral-news-pagination .page-item:first-child .page-link {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-right: 30px;
    color: #e20378;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .viral-news-pagination .page-item:first-child .page-link {
        margin-right: 5px;
    }
}

.viral-news-pagination .page-item:first-child .page-link:hover, .viral-news-pagination .page-item:first-child .page-link:focus {
    color: #ee9202;
}

.viral-news-pagination .page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 30px;
    color: #e20378;
}

@media only screen and (max-width: 767px) {
    .viral-news-pagination .page-item:last-child .page-link {
        margin-left: 5px;
    }
}

.viral-news-pagination .page-item:last-child .page-link:hover, .viral-news-pagination .page-item:last-child .page-link:focus {
    color: #ee9202;
}

.viral-news-breadcumb-area {
    position: relative;
    z-index: 1;
    background-color: #f3f5f8;
    height: 230px;
    border-bottom: 5px solid #e20378;
}

@media only screen and (max-width: 767px) {
    .viral-news-breadcumb-area.section-padding-50 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.viral-news-breadcumb-area h3 {
    font-size: 30px;
    color: #e20378;
}

.viral-news-breadcumb-area .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
}

@media only screen and (max-width: 767px) {
    .viral-news-breadcumb-area .breadcrumb {
        margin-bottom: 30px;
    }
}

.treading-articles-widget {
    position: relative;
    z-index: 1;
}

.treading-articles-widget h4 {
    font-weight: 600;
}

.catagory-featured-post {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .catagory-featured-post .cata-content {
        margin-top: 50px;
    }
}

.catagory-featured-post .cata-content .post-catagory {
    background-color: #ff6346;
    width: 88px;
    height: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.catagory-featured-post .cata-content .post-catagory.tag-2 {
    background-color: #6bc045;
}

.catagory-featured-post .cata-content .post-catagory.tag-3 {
    background-color: #ee9202;
}

.catagory-featured-post .cata-content .post-catagory:hover {
    background-color: #231f1f;
}

.catagory-featured-post .cata-content h2 {
    font-size: 36px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .catagory-featured-post .cata-content h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .catagory-featured-post .cata-content h2 {
        font-size: 22px;
    }
}

.catagory-featured-post .cata-content h2:hover {
    background: -webkit-gradient(linear, left top, right top, from(#ff6346), to(#da1b60));
    background: linear-gradient(to right, #ff6346, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
}

.catagory-featured-post .cata-content .post-meta .post-author {
    font-size: 14px;
    color: #656565;
    font-weight: 700;
    margin-bottom: 0;
}

.catagory-featured-post .cata-content .post-meta .post-author a {
    color: #231f1f;
    font-weight: 700;
    font-size: 14px;
}

.catagory-featured-post .cata-content .post-meta .post-date {
    color: #656565;
    font-size: 12px;
}

.catagory-featured-post .cata-content .post-excerp {
    color: #656565;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.single-blog-post-details {
    position: relative;
    z-index: 1;
}

.single-blog-post-details .post-thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}

.single-blog-post-details .post-data .post-meta p {
    font-weight: 500;
}

.single-blog-post-details .post-data .post-catagory {
    background-color: #e20378;
    width: 88px;
    height: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.single-blog-post-details .post-data .post-catagory.tag-2 {
    background-color: #6bc045;
}

.single-blog-post-details .post-data .post-catagory.tag-3 {
    background-color: #ee9202;
}

.single-blog-post-details .post-data .post-catagory:hover {
    background-color: #231f1f;
}

.single-blog-post-details .post-data .post-title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.contact h3 {
    font-size: 14px;
    line-height: 34px;
    color: #232323;
    margin: 0 0 6px;
}

.contact p {
    padding-left: 15px;
    margin-bottom: 24px;
    font: 13px/20px 'Open Sans', sans-serif;
}

.contact .clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.contact .svg--source {
    display: none;
}

.contact .svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor;
}

.contact .wrapper {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact .share {
    width: 3rem;
    height: 3rem;
    float: left;
    margin: 0.5rem 1rem 0.5rem 0;
    color: #353c4a;
    border: 0.125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;
}

.contact .share:last-child {
    margin-right: 0;
}

.contact .share:focus {
    outline-color: inherit;
}

.contact .youtube:hover,.contact .youtube:focus {
    color: #cd201f;
    box-shadow: 0 0 24px 0 #cd201f;
}

.contact .facebook:hover,.contact .facebook:focus {
    color: #3b5998;
    box-shadow: 0 0 24px 0 #3b5998;
}

.contact {
    /*padding: 63px 85px 50px 80px;*/
    color: #8391ab;
    width: 370px;
    /*margin: 60px auto;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
}

.prefix {
    width: 48px;
    display: inline-block;

}

.email {
    color: #ffffff;
    margin-left: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.email:hover {
    color: #cfd8ee;
    text-decoration: none;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-blog-post-details .post-data .post-title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .single-blog-post-details .post-data .post-title {
        font-size: 24px;
    }
}

.single-blog-post-details .post-data .post-author {
    margin-bottom: 0;
    display: block;
    font-size: 14px;
    color: #656565;
    font-weight: 700;
}

.single-blog-post-details .post-data .post-author a {
    font-size: 14px;
    color: #231f1f;
    font-weight: 700;
}

.single-blog-post-details .post-data .post-date {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #656565;
    display: block;
    margin-bottom: 0;
}

.single-blog-post-details .post-data .view-comments .views {
    font-size: 12px;
    color: #656565;
    margin-bottom: 0;
}

.single-blog-post-details .post-data .view-comments .comments {
    font-size: 12px;
    color: #656565;
    display: block;
    text-decoration: underline;
}

.single-blog-post-details .post-data .view-comments .comments:hover {
    color: #e20378;
}

.login-with-facebook a {
    display: inline-block;
    padding: 0 90px;
    height: 45px;
    background-color: #2d5f9a;
    border-radius: 6px;
    line-height: 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .login-with-facebook a {
        padding: 0 15px;
        font-size: 12px;
    }
}

.login-with-facebook a:hover, .login-with-facebook a:focus {
    background-color: #e20378;
}

.login-with-facebook button {
    display: inline-block;
    padding: 0 90px;
    height: 45px;
    background-color: #2d5f9a;
    border-radius: 6px;
    line-height: 45px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

@media only screen and (max-width: 767px) {
    .login-with-facebook button {
        padding: 0 15px;
        font-size: 12px;
    }
}

.login-with-facebook button:hover, .login-with-facebook a:focus {
    background-color: #e20378;
}


.single-questions-area {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .single-questions-area h3 {
        font-size: 24px;
    }
}

.single-questions-area .questions-thumb {
    margin-bottom: 25px;
}

.single-questions-area input[type=radio] {
    display: none;
}

.single-questions-area input[type="radio"] + label {
    padding-left: 60px;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #f3f5f8;
    margin-bottom: 25px;
    border-radius: 3px;
    line-height: 55px;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
}

.single-questions-area input[type=radio] + label:before {
    content: '';
    position: absolute;
    left: 25px;
    top: 50%;
    width: 23px;
    height: 23px;
    border: 2px solid #ccd2dc;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    -webkit-transition-duration: 100ms;
    transition-duration: 100ms;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.single-questions-area input[type=radio]:checked + label:before {
    content: '';
    background-color: #e20378;
    border: 9px solid #fff;
}

.single-questions-area input[type=radio]:checked + label {
    background: #e30a73;
    background: -webkit-linear-gradient(to right, #e30a73, #feae04);
    background: linear-gradient(to right, #e30a73, #feae04);
    color: #fff;
}

.comment_area .title {
    color: #231f1f;
}

.comment_area .comment-content .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 72px;
    flex: 0 0 72px;
    min-width: 72px;
    margin-right: 30px;
    height: 72px;
    border-radius: 5px;
}

.comment_area .comment-content .comment-author img {
    border-radius: 5px;
}

.comment_area .comment-content .comment-meta {
    margin-bottom: 30px;
}

.comment_area .comment-content .comment-meta .post-author {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    color: #393939;
    font-weight: 600;
}

.comment_area .comment-content .comment-meta .post-date {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #656565;
    display: block;
    margin-bottom: 15px;
}

.comment_area .comment-content .comment-meta p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
}

.comment_area .single_comment_area {
    margin-bottom: 30px;
}

.comment_area .single_comment_area:last-of-type {
    margin-bottom: 0;
}

.comment_area .children .single_comment_area {
    margin-left: 50px;
    margin-top: 30px;
}

.post-a-comment-area {
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .post-a-comment-area {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .post-a-comment-area {
        margin-bottom: 100px;
    }
}

.post-a-comment-area h4 {
    font-size: 24px;
    color: #393939;
}

.editors-pick-post-area {
    position: relative;
    z-index: 1;
    background-color: #eff4f9;
}

/* :: 8.0 Footer Area */
.footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #f3f5f8;
    border-top: 5px solid #e20378;
    padding-top: 50px;
}

.footer-area .footer-widget-area {
    position: relative;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .footer-area .footer-widget-area {
        margin-bottom: 40px;
    }
}

.footer-area .footer-widget-area .footer-logo {
    margin-bottom: 10px;
}

.footer-area .footer-widget-area .widget-title {
    display: block;
    margin: 40px 0;
    font-weight: 600;
}

.footer-area .footer-widget-area .footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-area .footer-widget-area .footer-nav ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    min-width: 50%;
    width: 50%;
}

.footer-area .footer-widget-area .footer-nav ul li a {
    display: block;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 700;
    color: #231f1f;
}

.footer-area .footer-widget-area .footer-nav ul li a:hover, .footer-area .footer-widget-area .footer-nav ul li a:focus {
    color: #e20378;
}

.footer-area .bottom-footer-area {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 0px 0 15px;
}

@media only screen and (max-width: 767px) {
    .footer-area .bottom-footer-area {
        padding: 20px 0 30px;
    }
}

.footer-area .bottom-footer-area p {
    color: #231f1f;
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
}

.footer-area .bottom-footer-area p a {
    color: #231f1f;
    font-size: 11px;
    font-weight: 600;
}

.footer-area .bottom-footer-area p a:hover, .footer-area .bottom-footer-area p a:focus {
    color: #e20378;
}

/* :: 9.0 Contact Area */
.single-contact-information {
    position: relative;
    z-index: 1;
}

.single-contact-information h6 {
    font-size: 14px;
    border-bottom: 2px solid #e20378;
    display: inline-block;
    color: #e20378;
}

.contact-form-area .form-control {
    height: 52px;
    width: 100%;
    background-color: #f3f5f8;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-bottom: 3px solid;
    border-color: transparent;
    font-weight: 500;
}

.contact-form-area .form-control:focus {
    box-shadow: none;
    border-color: #e20378;
}

.contact-form-area textarea.form-control {
    height: 200px;
    padding: 15px 20px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-area {
    position: relative;
    z-index: 1;
}

.contact-area .contact-title h4 {
    color: #393939;
    margin-bottom: 70px;
}

@media only screen and (max-width: 767px) {
    .contact-info-details {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.single-contact {
    position: relative;
    z-index: 1;
    margin-right: 50px;
}

@media only screen and (max-width: 767px) {
    .single-contact {
        margin-right: 0;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 70px;
    }

    .single-contact:last-child {
        margin-bottom: 0;
    }
}

.google-maps iframe {
    width: 100%;
    height: 680px;
    margin-bottom: 100px;
    border: none;
}

@media only screen and (max-width: 767px) {
    .google-maps iframe {
        height: 500px;
    }
}


/*# sourceMappingURL=style.css.map */


