#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.add-box{
    float: left;
    width: 390px;
    height: 300px;
    background: #BDFCED;
    color: #00DECF;
    font-size: 60px;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin: -190px 10px;
    border-radius: 5px;
    text-align: center;
    padding: 100px 10px;
}
