
.questionText{
    font-size:18px;
}

.pix{
    width:28%;
    height:25%;
    margin:10px;
    float:left;
    border: 10px solid white;
    cursor:pointer;
}

.pix:hover{
    border:#FC0 solid 5px;
    border-radius: 2%;
}

.spacer{
    height:30px;
}

.feedback1{
    width:150px;
    padding:5px;
    font-size:30px;
    background-color:#009900;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    position:absolute;
    top:170px;
}

.feedback2{
    width:150px;
    padding:5px;
    font-size:30px;
    background-color:#CC3300;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    position:absolute;
    top:170px;
}

input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

input:checked + label{
    /*border:10px solid #ffc107;*/
    /*border-radius: 2%;*/
    opacity:1;
    filter: alpha(opacity=100);
}

label, textarea:valid ~ label {
    padding: 0;
    margin: 7px 0px;
    display: table-cell;
    /*top: -15px;*/
    /*font-size: 12px;*/
    /*border: #8aa4af 10px solid;*/
    opacity:0.2;
    filter: alpha(opacity=50);
}
label img{
    width: 100% !important;
    height: auto;
}
.result{
    background-image: linear-gradient(9deg,#d700d0b8,#ff0000ba);
    border-radius: 3px!important;
    display: block;
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #ffffff;
    padding-bottom: 30px;
}

.background{
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 3px !important;
    height: auto;
}

.share a i{
    margin: 10px;
    padding: 15px;
    border-radius: 10% !important;
    color: white;
    font-size: 10pt !important;
    font-weight: 700 !important;

}
